{% extends "./base.html"%}
  {% load static %}

  {% block Title %} Home {% endblock %}

  {% block content%}
   <!-- Heading -->
   <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'ProjectWebMinimarketApp/img/store.jpg'%}" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <span class="section-heading-upper">Puntuality</span>
            <span class="section-heading-lower">The best stock </span>
          </h2>
          <p class="mb-3">The service and the detail to the customer are our best
          </p>
         
        </div>
      </div>
    </div>
  </section>


  
    <!-- Message -->
    <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">Total commitment</span>
                <span class="section-heading-lower">Guaranteed</span>
              </h2>
              <p class="mb-0">With more than 10 years of experience our customers support us</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    {% endblock %}

